{% extends 'basefront.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="frontpage-row-1 frontpage-row frontpage-style-1 animated-shapes-container">

        <div class="wrapper">

        <!-- left column  -->
            <div class="frontpage-row-1-left">

                <h1 class="bounceInDown">Ultimate solution<br> for your community!</h1>

                <div class="frontpage-row-1-desc bounceInLeft">
                Members of your community deserve more. Let's offer them what they won't find on other websites.
                </div>

            <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/register" class="hero-button join for-logged-out-users fadeInUp">Join Now!</a>
            <a href="" class="hero-button alternative fadeInUp delayed">Premium</a>

            </div>
        <!-- left column  -->


        <!-- right column  -->
        <div class="frontpage-row-1-right fadein">

            <div class="for-logged-out-users">

                <div class="shortcode-login" id="login-jump">

                    <form name="login-form" class="shortcode-login-form" action="login" method="post">

                        <h4>Log In</h4>

                        <span class="shortcode-login-desc">Login to your account and check out the new messages.</span>

                        <span class="status"></span>

                        <label><input type="text" name="username" id="shortcode-user-login" placeholder="Username" value="" tabindex="97" /></label>

                        <label><input type="password" name="password" id="shortcode-user-pass" placeholder="Password" value="" tabindex="98" /><span class="password-show hidden"></span></label>

                        <div class="forgetmenot">
                            <div><label><input name="rememberme" type="checkbox" class="shortcode-rememberme" value="forever" tabindex="99" checked="checked" /><span class="checkmark"></span>Remember Me</label></div>
                        </div>

                        <input type="submit" name="wp-submit" id="shortcode-login-submit" value="Log In" tabindex="100" />

                    </form>

                    <div class="clear"></div>

                    <div class="shortcode-login-bottom">
                        <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/recovery" class="shortcode-password-recovery">Forgot your password?</a> <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/register" class="shortcode-login-register">Create New Account!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>



    <div class="wrapper">
        <div class="frontpage-row-2 frontpage-row">


            <div class="shortcode-bp-groups-tabs-container col-6">

                <h4>GEEK ANNONCES</h4>

                <div class="clear"></div>

                <div class="list-wrap">

                    <!-- GROUPS LOOP -->

                    <ul>
                        <li class="odd public group-has-avatar">
                            <div class="group-box">
                                <div class="group-box-image-container">
                                    <a class="group-box-image" href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/music/"><img loading="lazy" src="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/group-avatars/5/5bc887f2a1055-bpfull.jpg" class="avatar group-5-avatar avatar-150 photo" width="150" height="150" alt="Group logo of Music" /></a>
                                </div>

                                <div class="group-box-bottom">
                                    <h6 class="group-box-title"><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/music/">Processeur</a></h6>
                                    <div class="group-box-details">

					<span class="activity">
							Active <span data-livestamp="2021-08-03T23:36:25+0000">6 months ago</span>					</span>

                                        <span class="group-box-details-members">19 members</span>
                                    </div>
                                </div><!--group-box-bottom-->
                            </div><!--group-box ends-->
                        </li>
                        <li class="even public group-has-avatar">
                            <div class="group-box">
                                <div class="group-box-image-container">
                                    <a class="group-box-image" href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/lorem/"><img loading="lazy" src="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/group-avatars/19/5bc8801303037-bpfull.jpg" class="avatar group-19-avatar avatar-150 photo" width="150" height="150" alt="Group logo of Travel" /></a>
                                </div>

                                <div class="group-box-bottom">
                                    <h6 class="group-box-title"><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/lorem/">Carte Graphique</a></h6>
                                    <div class="group-box-details">

					<span class="activity">
							Active <span data-livestamp="2021-08-16T08:20:38+0000">5 months ago</span>					</span>

                                        <span class="group-box-details-members">16 members</span>
                                    </div>
                                </div><!--group-box-bottom-->
                            </div><!--group-box ends-->
                        </li>
                        <li class="odd public group-has-avatar">
                            <div class="group-box">
                                <div class="group-box-image-container">
                                    <a class="group-box-image" href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/movies/"><img loading="lazy" src="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/group-avatars/14/5bc87dfecf906-bpfull.jpg" class="avatar group-14-avatar avatar-150 photo" width="150" height="150" alt="Group logo of Movies" /></a>
                                </div>

                                <div class="group-box-bottom">
                                    <h6 class="group-box-title"><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/movies/">PC Portable-Bureau</a></h6>
                                    <div class="group-box-details">

					<span class="activity">
							Active <span data-livestamp="2021-12-11T17:09:20+0000">2 months ago</span>					</span>

                                        <span class="group-box-details-members">13 members</span>
                                    </div>
                                </div><!--group-box-bottom-->
                            </div><!--group-box ends-->
                        </li>
                        <li class="even public group-has-avatar">
                            <div class="group-box">
                                <div class="group-box-image-container">
                                    <a class="group-box-image" href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/mauris-malesuada/"><img loading="lazy" src="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/group-avatars/2/5bc8893d36dba-bpfull.jpg" class="avatar group-2-avatar avatar-150 photo" width="150" height="150" alt="Group logo of Art" /></a>
                                </div>

                                <div class="group-box-bottom">
                                    <h6 class="group-box-title"><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/mauris-malesuada/">Gift Cards</a></h6>
                                    <div class="group-box-details">

					<span class="activity">
							Active <span data-livestamp="2021-10-20T21:55:06+0000">3 months ago</span>					</span>

                                        <span class="group-box-details-members">12 members</span>
                                    </div>
                                </div><!--group-box-bottom-->
                            </div><!--group-box ends-->
                        </li>
                        <li class="odd public group-has-avatar">
                            <div class="group-box">
                                <div class="group-box-image-container">
                                    <a class="group-box-image" href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/sailing/"><img loading="lazy" src="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/group-avatars/4/5bc89add30c36-bpfull.jpg" class="avatar group-4-avatar avatar-150 photo" width="150" height="150" alt="Group logo of Sailing" /></a>
                                </div>

                                <div class="group-box-bottom">
                                    <h6 class="group-box-title"><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/sailing/">Game Skins</a></h6>
                                    <div class="group-box-details">

					<span class="activity">
							Active <span data-livestamp="2021-06-24T16:27:38+0000">7 months ago</span>					</span>

                                        <span class="group-box-details-members">12 members</span>
                                    </div>
                                </div><!--group-box-bottom-->
                            </div><!--group-box ends-->
                        </li>
                        <li class="even public group-has-avatar">
                            <div class="group-box">
                                <div class="group-box-image-container">
                                    <a class="group-box-image" href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/sport/"><img loading="lazy" src="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/group-avatars/15/5bc87fc70c2c0-bpfull.jpg" class="avatar group-15-avatar avatar-150 photo" width="150" height="150" alt="Group logo of Sport" /></a>
                                </div>

                                <div class="group-box-bottom">
                                    <h6 class="group-box-title"><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/sport/">Games Code</a></h6>
                                    <div class="group-box-details">

					<span class="activity">
							Active <span data-livestamp="2021-11-14T01:56:53+0000">2 months ago</span>					</span>

                                        <span class="group-box-details-members">11 members</span>
                                    </div>
                                </div><!--group-box-bottom-->
                            </div><!--group-box ends-->
                        </li>
                    </ul>

                    <div class="clear"></div>




                    <!-- GROUPS LOOP END -->

                </div> <!-- List Wrap -->
            </div> <!-- shortcode-bp-groups-tabs-container -->

            <div class="clear"></div>
        </div>
    </div>
    <div class="wrapper">
        <div class="frontpage-row-4 frontpage-row">

            <div class="frontpage-row-4-left">
                <h4><a href="/leaderboard">Members Rank</a></h4>

                <div class="small-leaderboard"><!-- Transient onecommunity_leaderboard_small (1440 minutes) --><div class="small-leaderboard-row"><div class="leaderboard-position">1.</div><div class="leaderboard-user"><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/demo" class="avatar"><img alt='' src='https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/55/6195aff1d13f2-bpthumb.jpg' srcset='https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/55/6195aff1ca97d-bpfull.jpg 2x' class='avatar avatar-50 photo' height='50' width='50' loading='lazy'/></a></div><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/demo" class="name">Demo</a><div class="leaderboard-points">84166 points</div></div><div class="small-leaderboard-row"><div class="leaderboard-position">2.</div><div class="leaderboard-user"><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/admin" class="avatar"><img alt='' src='https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/1/5bc091d9a959b-bpthumb.jpg' srcset='https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/1/5bc091d9a4679-bpfull.jpg 2x' class='avatar avatar-50 photo' height='50' width='50' loading='lazy'/></a></div><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/admin" class="name">Michael</a><div class="leaderboard-points">28291 points</div></div><div class="small-leaderboard-row"><div class="leaderboard-position">3.</div><div class="leaderboard-user"><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/nicole" class="avatar"><img alt='' src='https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/10/5bc88c2c1089d-bpthumb.jpg' srcset='https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/10/5bc88c2c0ada4-bpfull.jpg 2x' class='avatar avatar-50 photo' height='50' width='50' loading='lazy'/></a></div><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/nicole" class="name">Nicole</a><div class="leaderboard-points">1452 points</div></div><div class="small-leaderboard-row"><div class="leaderboard-position">4.</div><div class="leaderboard-user"><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/christopher" class="avatar"><img alt='' src='https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/46/5bc49370e0172-bpthumb.jpg' srcset='https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/46/5bc49370db16e-bpfull.jpg 2x' class='avatar avatar-50 photo' height='50' width='50' loading='lazy'/></a></div><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/christopher" class="name">Christopher</a><div class="leaderboard-points">849 points</div></div><div class="small-leaderboard-row"><div class="leaderboard-position">5.</div><div class="leaderboard-user"><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/quintin" class="avatar"><img alt='' src='https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/5/5bc098aab655c-bpthumb.jpg' srcset='https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/5/5bc098aab10f5-bpfull.jpg 2x' class='avatar avatar-50 photo' height='50' width='50' loading='lazy'/></a></div><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/quintin" class="name">Quintin</a><div class="leaderboard-points">740 points</div></div><div class="small-leaderboard-row"><div class="leaderboard-position">6.</div><div class="leaderboard-user"><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/matt" class="avatar"><img alt='' src='https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/50/5bc491c0b163e-bpthumb.jpg' srcset='https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/50/5bc491c0ac1ac-bpfull.jpg 2x' class='avatar avatar-50 photo' height='50' width='50' loading='lazy'/></a></div><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/matt" class="name">Matt</a><div class="leaderboard-points">549 points</div></div><div class="small-leaderboard-row"><div class="leaderboard-position">7.</div><div class="leaderboard-user"><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/dion" class="avatar"><img alt='' src='https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/7/5bc0949e1a620-bpthumb.jpg' srcset='https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/7/5bc0949e1404b-bpfull.jpg 2x' class='avatar avatar-50 photo' height='50' width='50' loading='lazy'/></a></div><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/dion" class="name">Dion</a><div class="leaderboard-points">485 points</div></div><div class="small-leaderboard-row"><div class="leaderboard-position">8.</div><div class="leaderboard-user"><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/amber" class="avatar"><img alt='' src='https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/48/5bc49a29df589-bpthumb.jpg' srcset='https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/48/5bc49a29d9b4f-bpfull.jpg 2x' class='avatar avatar-50 photo' height='50' width='50' loading='lazy'/></a></div><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/amber" class="name">Amber</a><div class="leaderboard-points">439 points</div></div><div class="small-leaderboard-row"><div class="leaderboard-position">9.</div><div class="leaderboard-user"><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/oliver" class="avatar"><img alt='' src='https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/52/5bc4a068f3b55-bpthumb.jpg' srcset='https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/52/5bc4a068edcab-bpfull.jpg 2x' class='avatar avatar-50 photo' height='50' width='50' loading='lazy'/></a></div><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/oliver" class="name">Oliver</a><div class="leaderboard-points">313 points</div></div><div class="small-leaderboard-row"><div class="leaderboard-position">10.</div><div class="leaderboard-user"><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/imogen" class="avatar"><img alt='' src='https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/47/5bc88c96a8430-bpthumb.jpg' srcset='https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/47/5bc88c96a4433-bpfull.jpg 2x' class='avatar avatar-50 photo' height='50' width='50' loading='lazy'/></a></div><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/imogen" class="name">Imogen</a><div class="leaderboard-points">289 points</div></div></div>
            </div>

            <div class="frontpage-row-4-right">
                <h4 id="activity-menu-button">New Activity</h4>


                <div id="tabs-activity" class="shortcode-activity col-2">

                    <ul class="tabs-activity-nav">
                        <li class="nav-1 current" data-tab-type="1" data-tab-page="1">Groups</li>
                        <li class="nav-2" data-tab-type="2" data-tab-page="1">Profiles</li>
                        <li class="nav-3" data-tab-type="3" data-tab-page="1">Friends</li>
                        <li class="nav-4" data-tab-type="4" data-tab-page="1">Forum topics</li>
                        <li class="nav-5" data-tab-type="5" data-tab-page="1">Forum posts</li>
                        <li class="nav-6" data-tab-type="6" data-tab-page="1">Blog comments</li>
                    </ul>

                    <div class="list-wrap">

                        <div class="tab-content shortcode-activity-list">


                            <ul class="tab-content-list">


                                <li class="groups activity_share activity-item mini parent" id="activity-1349">

                                    <div class="activity-content">

                                        <div class="activity-header-container">


                                            <div class="activity-avatar">
                                                <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/demo/">
                                                    <img loading="lazy" src="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/55/6195aff1d13f2-bpthumb.jpg" class="avatar user-55-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Demo" />		</a>
                                            </div>

                                            <div class="activity-header">
                                                <p>
                                                    <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/demo/">Demo</a> posted an update in the group <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/animals/" class="">
                                                        <img loading="lazy" src="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/group-avatars/9/5bc88906dad83-bpthumb.jpg" class="avatar group-9-avatar avatar-20 photo" width="20" height="20" alt="Group logo of Animals" /></a><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/animals/">Animals</a> <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/activity/p/1349/" class="view activity-time-since bp-tooltip" data-bp-tooltip="View Discussion"><span class="time-since" data-livestamp="2021-11-15T18:53:39+0000">2 months ago</span></a></p>
                                            </div>

                                        </div><!-- .activity-header-container -->


                                        <div class="shortcode-activity-meta">
                                            <span class="comments-count">0</span>
                                            <a onclick="loginPopUp()" class="acomment-reply button"><span>Comment</span></a> <a onclick="loginPopUp()" class="button"><span>Like</span></a>		</div>


                                    </div>

                                    <div class="clear"></div>

                                </li>


                                <li class="groups activity_update activity-item parent" id="activity-615">

                                    <div class="activity-content">

                                        <div class="activity-header-container">


                                            <div class="activity-avatar">
                                                <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/admin/">
                                                    <img loading="lazy" src="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/1/5bc091d9a959b-bpthumb.jpg" class="avatar user-1-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Michael" />		</a>
                                            </div>

                                            <div class="activity-header">
                                                <p><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/admin/">Michael</a> posted an update in the group <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/lorem/" class=""><img loading="lazy" src="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/group-avatars/19/5bc880130ab2b-bpthumb.jpg" class="avatar group-19-avatar avatar-20 photo" width="20" height="20" alt="Group logo of Travel" /></a><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/lorem/">Travel</a> <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/activity/p/615/" class="view activity-time-since bp-tooltip" data-bp-tooltip="View Discussion"><span class="time-since" data-livestamp="2019-03-04T20:37:50+0000">2 years ago</span></a></p>
                                            </div>

                                        </div><!-- .activity-header-container -->

                                        <div class="activity-inner">
                                            <p>Nullam vel tellus lacinia, aliquam magna sollicitudin, accumsan sem. Phasellus semper neque ante, vitae ornare enim pharetra at.</p>
                                        </div>

                                        <div class="shortcode-activity-meta">
                                            <span class="comments-count">0</span>
                                            <a onclick="loginPopUp()" class="acomment-reply button"><span>Comment</span></a> <a onclick="loginPopUp()" class="button"><span>Like</span></a>		</div>


                                    </div>

                                    <div class="clear"></div>

                                </li>


                                <li class="groups activity_update activity-item parent" id="activity-602">

                                    <div class="activity-content">

                                        <div class="activity-header-container">


                                            <div class="activity-avatar">
                                                <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/quintin/">
                                                    <img loading="lazy" src="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/5/5bc098aab655c-bpthumb.jpg" class="avatar user-5-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Quintin" />		</a>
                                            </div>

                                            <div class="activity-header">
                                                <p><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/quintin/">Quintin</a> posted an update in the group <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/movies/" class=""><img loading="lazy" src="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/group-avatars/14/5bc87dfed494a-bpthumb.jpg" class="avatar group-14-avatar avatar-20 photo" width="20" height="20" alt="Group logo of Movies" /></a><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/movies/">Movies</a> <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/activity/p/602/" class="view activity-time-since bp-tooltip" data-bp-tooltip="View Discussion"><span class="time-since" data-livestamp="2019-01-04T13:54:59+0000">3 years ago</span></a></p>
                                            </div>

                                        </div><!-- .activity-header-container -->

                                        <div class="activity-inner">
                                            <p>Cras turpis libero, malesuada dignissim libero quis, facilisis lacinia mi. Pellentesque commodo convallis lorem. Suspendisse eu mattis tellus.</p>
                                        </div>

                                        <div class="shortcode-activity-meta">
                                            <span class="comments-count">0</span>
                                            <a onclick="loginPopUp()" class="acomment-reply button"><span>Comment</span></a> <a onclick="loginPopUp()" class="button"><span>Like</span></a>		</div>


                                    </div>

                                    <div class="clear"></div>

                                </li>


                                <li class="groups activity_update activity-item parent" id="activity-601">

                                    <div class="activity-content">

                                        <div class="activity-header-container">


                                            <div class="activity-avatar">
                                                <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/quintin/">
                                                    <img loading="lazy" src="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/5/5bc098aab655c-bpthumb.jpg" class="avatar user-5-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Quintin" />		</a>
                                            </div>

                                            <div class="activity-header">
                                                <p><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/quintin/">Quintin</a> posted an update in the group <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/lorem/" class=""><img loading="lazy" src="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/group-avatars/19/5bc880130ab2b-bpthumb.jpg" class="avatar group-19-avatar avatar-20 photo" width="20" height="20" alt="Group logo of Travel" /></a><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/lorem/">Travel</a> <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/activity/p/601/" class="view activity-time-since bp-tooltip" data-bp-tooltip="View Discussion"><span class="time-since" data-livestamp="2019-01-04T13:54:08+0000">3 years ago</span></a></p>
                                            </div>

                                        </div><!-- .activity-header-container -->

                                        <div class="activity-inner">
                                            <p>In eu est tortor. Sed facilisis, ligula ac pharetra dictum, lectus diam ullamcorper dolor, lacinia rhoncus enim est in elit.</p>
                                        </div>

                                        <div class="shortcode-activity-meta">
                                            <span class="comments-count">0</span>
                                            <a onclick="loginPopUp()" class="acomment-reply button"><span>Comment</span></a> <a onclick="loginPopUp()" class="button"><span>Like</span></a>		</div>


                                    </div>

                                    <div class="clear"></div>

                                </li>


                                <li class="groups activity_update activity-item parent" id="activity-600">

                                    <div class="activity-content">

                                        <div class="activity-header-container">


                                            <div class="activity-avatar">
                                                <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/imogen/">
                                                    <img loading="lazy" src="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/47/5bc88c96a8430-bpthumb.jpg" class="avatar user-47-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Imogen" />		</a>
                                            </div>

                                            <div class="activity-header">
                                                <p><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/imogen/">Imogen</a> posted an update in the group <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/music/" class=""><img loading="lazy" src="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/group-avatars/5/5bc887f2a51c7-bpthumb.jpg" class="avatar group-5-avatar avatar-20 photo" width="20" height="20" alt="Group logo of Music" /></a><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/music/">Music</a> <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/activity/p/600/" class="view activity-time-since bp-tooltip" data-bp-tooltip="View Discussion"><span class="time-since" data-livestamp="2019-01-03T13:43:26+0000">3 years ago</span></a></p>
                                            </div>

                                        </div><!-- .activity-header-container -->

                                        <div class="activity-inner">
                                            <p>Quisque eu lectus id risus bibendum imperdiet. Integer vel dapibus libero. Fusce et auctor lorem, id mollis purus. Mauris maximus varius tempor.</p>
                                        </div>

                                        <div class="shortcode-activity-meta">
                                            <span class="comments-count">0</span>
                                            <a onclick="loginPopUp()" class="acomment-reply button"><span>Comment</span></a> <a onclick="loginPopUp()" class="button"><span>Like</span></a>		</div>


                                    </div>

                                    <div class="clear"></div>

                                </li>


                                <li class="groups activity_update activity-item parent" id="activity-597">

                                    <div class="activity-content">

                                        <div class="activity-header-container">


                                            <div class="activity-avatar">
                                                <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/nicole/">
                                                    <img loading="lazy" src="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/10/5bc88c2c1089d-bpthumb.jpg" class="avatar user-10-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Nicole" />		</a>
                                            </div>

                                            <div class="activity-header">
                                                <p><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/nicole/">Nicole</a> posted an update in the group <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/lorem/" class=""><img loading="lazy" src="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/group-avatars/19/5bc880130ab2b-bpthumb.jpg" class="avatar group-19-avatar avatar-20 photo" width="20" height="20" alt="Group logo of Travel" /></a><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/lorem/">Travel</a> <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/activity/p/597/" class="view activity-time-since bp-tooltip" data-bp-tooltip="View Discussion"><span class="time-since" data-livestamp="2018-12-17T14:37:35+0000">3 years ago</span></a></p>
                                            </div>

                                        </div><!-- .activity-header-container -->

                                        <div class="activity-inner">
                                            <p>Cras eros leo, volutpat sit amet tempor eu, tincidunt quis urna. Fusce aliquet ante vitae turpis eleifend rutrum. Vestibulum et velit et orci ultricies feugiat eu in nibh.</p>
                                        </div>

                                        <div class="shortcode-activity-meta">
                                            <span class="comments-count">0</span>
                                            <a onclick="loginPopUp()" class="acomment-reply button"><span>Comment</span></a> <a onclick="loginPopUp()" class="button"><span>Like</span></a>		</div>


                                    </div>

                                    <div class="clear"></div>

                                </li>


                                <li class="groups activity_update activity-item parent" id="activity-596">

                                    <div class="activity-content">

                                        <div class="activity-header-container">


                                            <div class="activity-avatar">
                                                <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/admin/">
                                                    <img loading="lazy" src="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/1/5bc091d9a959b-bpthumb.jpg" class="avatar user-1-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Michael" />		</a>
                                            </div>

                                            <div class="activity-header">
                                                <p><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/admin/">Michael</a> posted an update in the group <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/sailing/" class=""><img loading="lazy" src="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/group-avatars/4/5bc89add35035-bpthumb.jpg" class="avatar group-4-avatar avatar-20 photo" width="20" height="20" alt="Group logo of Sailing" /></a><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/sailing/">Sailing</a> <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/activity/p/596/" class="view activity-time-since bp-tooltip" data-bp-tooltip="View Discussion"><span class="time-since" data-livestamp="2018-12-14T15:04:17+0000">3 years ago</span></a></p>
                                            </div>

                                        </div><!-- .activity-header-container -->

                                        <div class="activity-inner">
                                            <p>Nam a rutrum ex. In at scelerisque lacus. Morbi arcu dolor, fermentum non sapien ac, finibus fringilla mauris. Donec id dignissim justo. Aliquam sodales nulla vel ante gravida lobortis.</p>
                                        </div>

                                        <div class="shortcode-activity-meta">
                                            <span class="comments-count">0</span>
                                            <a onclick="loginPopUp()" class="acomment-reply button"><span>Comment</span></a> <a onclick="loginPopUp()" class="button"><span>Like</span></a>		</div>


                                    </div>

                                    <div class="clear"></div>

                                </li>


                                <li class="groups activity_update activity-item parent" id="activity-595">

                                    <div class="activity-content">

                                        <div class="activity-header-container">


                                            <div class="activity-avatar">
                                                <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/admin/">
                                                    <img loading="lazy" src="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/1/5bc091d9a959b-bpthumb.jpg" class="avatar user-1-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Michael" />		</a>
                                            </div>

                                            <div class="activity-header">
                                                <p><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/admin/">Michael</a> posted an update in the group <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/movies/" class=""><img loading="lazy" src="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/group-avatars/14/5bc87dfed494a-bpthumb.jpg" class="avatar group-14-avatar avatar-20 photo" width="20" height="20" alt="Group logo of Movies" /></a><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/groups/movies/">Movies</a> <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/activity/p/595/" class="view activity-time-since bp-tooltip" data-bp-tooltip="View Discussion"><span class="time-since" data-livestamp="2018-12-14T15:03:39+0000">3 years ago</span></a></p>
                                            </div>

                                        </div><!-- .activity-header-container -->

                                        <div class="activity-inner">
                                            <p>Aenean pharetra nibh eget justo porttitor scelerisque. Cras imperdiet, lectus id pretium tristique, augue neque ultrices dui. </p>
                                        </div>

                                        <div class="shortcode-activity-meta">
                                            <span class="comments-count">0</span>
                                            <a onclick="loginPopUp()" class="acomment-reply button"><span>Comment</span></a> <a onclick="loginPopUp()" class="button"><span>Like</span></a>		</div>


                                    </div>

                                    <div class="clear"></div>

                                </li>


                            </ul>


                            <div class="clear"></div>

                        </div>

                    </div><!-- list-wrap -->
                </div><!-- shortcode-activity -->
            </div>

        </div>
    </div>
{% endblock %}

