{% extends 'base-back.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <div class="col-12 grid-margin stretch-card">
                <div class="card">
                <h3 class="card-title">Ajouter un post</h3>
              
                  <div class="card-body"><br><br><br><br>
                    <h4 class="card-title"><a href="{{ path('list_posts') }}"><i class="mdi mdi-arrow-left"></i></a>  </h4>
                      <div class="form-group">
                           {{ include('back_office/posts/_form.html.twig') }}
                    </div>
                </div>
    </div>

    
{% endblock %}
