{% extends 'basefront.html.twig' %}

{% block title %}Forum!{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{{ asset('css/youzify.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/youzify.min.css') }}" />

{% endblock   %}
{% block body %}


<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
	#bbpress-forums .youzify-bbp-box .youzify-bbp-box-title {
    color: #898990;
    font-size: 13px;
    font-weight: 600;
    padding: 15px 25px;
    border-bottom: 1px solid #eee;
}
.youzify * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
input[type="text"], input[type="date"], input[type="time"], input[type="datetime-local"], input[type="week"], input[type="month"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea#comment {
    background: #fafafa;
    border: 1px solid #ededed;
    color: #595959;
    padding: 14px 16px;
    width: 100%;
    border-radius: 0px;
}
input {
    line-height: normal;
}
button, input, select, textarea {
    max-width: 100%;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
    
</style>

<section class="wrapper">

<main id="content" class="bbpress-page">

	<div class="breadcrumbs">
	<div class="bbp-breadcrumb"><p><a href="https://diaboliquedesign.com/demo/onecommunity-youzer" class="bbp-breadcrumb-home">Homepage</a> <span class="bbp-breadcrumb-sep">›</span> <a href="https://diaboliquedesign.com/demo/onecommunity-youzer/forums/" class="bbp-breadcrumb-root">Forums</a> <span class="bbp-breadcrumb-sep">›</span></p></div>	</div>

	<h1 class="page-title">Forum</h1>

		

	<span></span>
	<article>
		<div class="bbpress-main">

<div id="bbpress-forums">

	<div class="youzify-bbp-topic-head">
		<div class="bbp-breadcrumb"><p><a href="https://diaboliquedesign.com/demo/onecommunity-youzer" class="bbp-breadcrumb-home">Homepage</a> <span class="bbp-breadcrumb-sep">›</span></p></div>	</div>

	
	
	<div class="bbp-search-form">
		<form role="search" method="get" id="bbp-search-form">
			<div>
				<label class="screen-reader-text hidden" for="bbp_search">Search for:</label>
				<input type="hidden" name="action" value="bbp-search-request">
				<input type="text" value="" name="bbp_search" id="bbp_search">
				<input class="button" type="submit" id="bbp_search_submit" value="Search">
			</div>
		</form>
	</div>


	
	
	
	
		

<ul id="forums-list-0" class="bbp-forums">

	<li class="bbp-header">

		<ul class="forum-titles">
			<li class="bbp-forum-info">Forum</li>
			<li class="bbp-forum-topic-count">Topics</li>
			<li class="bbp-forum-reply-count">comments</li>
			<li class="bbp-forum-freshness">Posted by</li>
		</ul>

	</li><!-- .bbp-header -->

	<li class="bbp-body">

		
			
<ul id="bbp-forum-821" class="loop-item-0 bbp-forum-status-open bbp-forum-visibility-publish odd  post-821 forum type-forum status-publish hentry">

	<li class="bbp-forum-info">
		<div class="youzify-forums-forum-item">
			<div class="youzify-forums-forum-icon"><i class="fas fa-comment-dots"></i></div>
			<div class="youzify-forums-forum-head">
								<a class="youzify-forums-forum-title" href="https://diaboliquedesign.com/demo/onecommunity-youzer/forums/forum/announcements/">Titre de la post</a>
												<div class="youzify-forums-forum-desc">
										contenu de la post									</div>
			</div>
			
			
					</div>


		
	</li>

	<li class="bbp-forum-topic-count"><i class="fas fa-file-alt" area-hidden="true"></i>3</li>

	<li class="bbp-forum-reply-count"><i class="fas fa-pencil-alt" area-hidden="true"></i>13</li>

	<li class="youzify-bbp-forum-freshness">

		<div class="youzify-bbp-freshness-data">

			<div class="youzify-bbp-freshness-author-img">
				<a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/demo/" title="View Demo's profile" class="bbp-author-link"><span class="bbp-author-avatar"><img alt="" src="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/55/6195aff1d13f2-bpthumb.jpg" srcset="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-content/uploads/avatars/55/6195aff1ca97d-bpfull.jpg 2x" class="avatar avatar-40 photo" height="40" width="40" loading="lazy"></span></a>			</div>

			<div class="youzify-bbp-freshness-content">

				
				<div class="youzify-bbp-freshness-author"><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/members/demo/" title="View Demo's profile" class="bbp-author-link"><span class="bbp-author-name">Mahdi</span></a></div>

				
				
				<div class="youzify-bbp-freshness-time"><a href="https://diaboliquedesign.com/demo/onecommunity-youzer/forums/topic/jklhsda/#post-4167" title="Reply To: jklhsda">1 month ago</a></div>

				
			</div>

		</div>

	</li>

</ul><!-- #bbp-forum-821 -->

		
			

			

		
			


		
	</li><!-- .bbp-body -->

	<li class="bbp-footer">

		<div class="tr">
			<p class="td colspan4">&nbsp;</p>
		</div><!-- .tr -->

	</li><!-- .bbp-footer -->

</ul><!-- .forums-directory -->


	
	
</div>
<br>


		
	

	<div class="bbp-pagination-links">

		<span aria-current="page" class="page-numbers current">1</span>
<a class="page-numbers" href="https://diaboliquedesign.com/demo/onecommunity-youzer/forum/page/2/">2</a>
<a class="page-numbers" href="https://diaboliquedesign.com/demo/onecommunity-youzer/forum/page/3/">3</a>
<a class="page-numbers" href="https://diaboliquedesign.com/demo/onecommunity-youzer/forum/page/4/">4</a>
<a class="next page-numbers" href="https://diaboliquedesign.com/demo/onecommunity-youzer/forum/page/2/">→</a>
	</div>
</div>

	<br>
	
</div>

</div>
	</article>

</main><!-- .content -->
<div id="new-topic-0" class="bbp-topic-form">

		<form id="new-post" name="new-post" method="post" action="https://diaboliquedesign.com/demo/onecommunity-youzer/forums/forum/announcements/" class="bpfed-editor-form">

			
			<div class="bbp-form youzify-bbp-box">
				<div class="youzify-bbp-box-title">
					<i class="fas fa-pencil-alt"></i>
					Create New Topic in “Announcements”
				</div>
				<div class="youzify-bbp-box-content">

				
				
				
				
				<div>

					

					
					<div class="youzify-bbp-form-item youzify-bbp-form-item-text">
						<label for="bbp_topic_title">Topic Title (Maximum Length : 80) :</label>
						<input type="text" id="bbp_topic_title" value="" tabindex="101" size="40" name="bbp_topic_title" maxlength="80">
					</div>

					
					
					<div id="wp-bbp_topic_content-wrap" class="wp-core-ui wp-editor-wrap tmce-active bpfed-editor"><link rel="stylesheet" id="dashicons-css" href="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-includes/css/dashicons.min.css?ver=5.9" type="text/css" media="all">
<link rel="stylesheet" id="editor-buttons-css" href="https://diaboliquedesign.com/demo/onecommunity-youzer/wp-includes/css/editor.min.css?ver=5.9" type="text/css" media="all">
<div id="wp-bbp_topic_content-editor-tools" class="wp-editor-tools hide-if-no-js"><div class="wp-editor-tabs"><button type="button" id="bbp_topic_content-tmce" class="wp-switch-editor switch-tmce" data-wp-editor-id="bbp_topic_content">Visual</button>
<button type="button" id="bbp_topic_content-html" class="wp-switch-editor switch-html" data-wp-editor-id="bbp_topic_content">Text</button>
</div>
</div>
<div id="wp-bbp_topic_content-editor-container" class="wp-editor-container"><div id="qt_bbp_topic_content_toolbar" class="quicktags-toolbar hide-if-no-js"><input type="button" id="qt_bbp_topic_content_strong" class="ed_button button button-small" aria-label="Bold" value="b"><input type="button" id="qt_bbp_topic_content_em" class="ed_button button button-small" aria-label="Italic" value="i"><input type="button" id="qt_bbp_topic_content_link" class="ed_button button button-small" aria-label="Insert link" value="link"><input type="button" id="qt_bbp_topic_content_block" class="ed_button button button-small" aria-label="Blockquote" value="b-quote"><input type="button" id="qt_bbp_topic_content_img" class="ed_button button button-small" aria-label="Insert image" value="img"><input type="button" id="qt_bbp_topic_content_ul" class="ed_button button button-small" aria-label="Bulleted list" value="ul"><input type="button" id="qt_bbp_topic_content_ol" class="ed_button button button-small" aria-label="Numbered list" value="ol"><input type="button" id="qt_bbp_topic_content_li" class="ed_button button button-small" aria-label="List item" value="li"><input type="button" id="qt_bbp_topic_content_code" class="ed_button button button-small" aria-label="Code" value="code"><input type="button" id="qt_bbp_topic_content_close" class="ed_button button button-small" title="Close all open tags" value="close tags"></div><div id="mceu_24" class="mce-tinymce mce-container mce-panel" hidefocus="1" tabindex="-1" role="application" style="visibility: hidden; border-width: 1px; width: 100%;"><div id="mceu_24-body" class="mce-container-body mce-stack-layout"><div id="mceu_25" class="mce-top-part mce-container mce-stack-layout-item mce-first"><div id="mceu_25-body" class="mce-container-body"><div id="mceu_26" class="mce-toolbar-grp mce-container mce-panel mce-first mce-last" hidefocus="1" tabindex="-1" role="group"><div id="mceu_26-body" class="mce-container-body mce-stack-layout"><div id="mceu_27" class="mce-container mce-toolbar mce-stack-layout-item mce-first mce-last" role="toolbar"><div id="mceu_27-body" class="mce-container-body mce-flow-layout"><div id="mceu_28" class="mce-container mce-flow-layout-item mce-first mce-last mce-btn-group" role="group"><div id="mceu_28-body"><div id="mceu_0" class="mce-widget mce-btn mce-menubtn mce-fixed-width mce-listbox mce-first mce-btn-has-text" tabindex="-1" aria-labelledby="mceu_0" role="button" aria-haspopup="true"><button id="mceu_0-open" role="presentation" type="button" tabindex="-1"><span class="mce-txt">Paragraph</span> <i class="mce-caret"></i></button></div><div id="mceu_1" class="mce-widget mce-btn mce-menubtn mce-fixed-width mce-listbox mce-btn-has-text" tabindex="-1" aria-labelledby="mceu_1" role="button" aria-label="Font Sizes" aria-haspopup="true"><button id="mceu_1-open" role="presentation" type="button" tabindex="-1"><span class="mce-txt">11pt</span> <i class="mce-caret"></i></button></div><div id="mceu_2" class="mce-widget mce-btn mce-splitbtn mce-colorbutton" role="button" tabindex="-1" aria-haspopup="true" aria-label="Text color"><button role="presentation" hidefocus="1" type="button" tabindex="-1"><i class="mce-ico mce-i-forecolor"></i><span id="mceu_2-preview" class="mce-preview"></span></button><button type="button" class="mce-open" hidefocus="1" tabindex="-1"> <i class="mce-caret"></i></button></div><div id="mceu_3" class="mce-widget mce-btn" tabindex="-1" aria-pressed="false" role="button" aria-label="Bold (Ctrl+B)"><button id="mceu_3-button" role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bold"></i></button></div><div id="mceu_4" class="mce-widget mce-btn" tabindex="-1" aria-pressed="false" role="button" aria-label="Italic (Ctrl+I)"><button id="mceu_4-button" role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-italic"></i></button></div><div id="mceu_5" class="mce-widget mce-btn" tabindex="-1" aria-pressed="false" role="button" aria-label="Underline (Ctrl+U)"><button id="mceu_5-button" role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-underline"></i></button></div><div id="mceu_6" class="mce-widget mce-btn" tabindex="-1" aria-pressed="false" role="button" aria-label="Strikethrough (Shift+Alt+D)"><button id="mceu_6-button" role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-strikethrough"></i></button></div><div id="mceu_7" class="mce-widget mce-btn" tabindex="-1" aria-pressed="false" role="button" aria-label="Align left (Shift+Alt+L)"><button id="mceu_7-button" role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-alignleft"></i></button></div><div id="mceu_8" class="mce-widget mce-btn" tabindex="-1" aria-pressed="false" role="button" aria-label="Align center (Shift+Alt+C)"><button id="mceu_8-button" role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-aligncenter"></i></button></div><div id="mceu_9" class="mce-widget mce-btn" tabindex="-1" aria-pressed="false" role="button" aria-label="Align right (Shift+Alt+R)"><button id="mceu_9-button" role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-alignright"></i></button></div><div id="mceu_10" class="mce-widget mce-btn" tabindex="-1" role="button" aria-label="Clear formatting"><button id="mceu_10-button" role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-removeformat"></i></button></div><div id="mceu_11" class="mce-widget mce-btn mce-disabled" tabindex="-1" role="button" aria-label="Undo (Ctrl+Z)" aria-disabled="true"><button id="mceu_11-button" role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-undo"></i></button></div><div id="mceu_12" class="mce-widget mce-btn mce-disabled" tabindex="-1" role="button" aria-label="Redo (Ctrl+Y)" aria-disabled="true"><button id="mceu_12-button" role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-redo"></i></button></div><div id="mceu_13" class="mce-widget mce-btn" tabindex="-1" aria-pressed="false" role="button" aria-label="Insert/edit link (Ctrl+K)"><button id="mceu_13-button" role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-link"></i></button></div><div id="mceu_14" class="mce-widget mce-btn" tabindex="-1" role="button" aria-label="Remove link (Shift+Alt+S)"><button id="mceu_14-button" role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-unlink"></i></button></div><div id="mceu_15" class="mce-widget mce-btn" tabindex="-1" aria-pressed="false" role="button" aria-label="Paste as text"><button id="mceu_15-button" role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-pastetext"></i></button></div><div id="mceu_16" class="mce-widget mce-btn" tabindex="-1" aria-pressed="false" role="button" aria-label="Bulleted list (Shift+Alt+U)"><button id="mceu_16-button" role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bullist"></i></button></div><div id="mceu_17" class="mce-widget mce-btn" tabindex="-1" aria-pressed="false" role="button" aria-label="Numbered list (Shift+Alt+O)"><button id="mceu_17-button" role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-numlist"></i></button></div><div id="mceu_18" class="mce-widget mce-btn" tabindex="-1" aria-pressed="false" role="button" aria-label="Blockquote (Shift+Alt+Q)"><button id="mceu_18-button" role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-blockquote"></i></button></div><div id="mceu_19" class="mce-widget mce-btn" tabindex="-1" role="button" aria-label="Decrease indent"><button id="mceu_19-button" role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-outdent"></i></button></div><div id="mceu_20" class="mce-widget mce-btn" tabindex="-1" role="button" aria-label="Increase indent"><button id="mceu_20-button" role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-indent"></i></button></div><div id="mceu_21" class="mce-widget mce-btn" tabindex="-1" role="button" aria-label="Special character"><button id="mceu_21-button" role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-charmap"></i></button></div><div id="mceu_22" class="mce-widget mce-btn" tabindex="-1" role="button" aria-label="Horizontal line"><button id="mceu_22-button" role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-hr"></i></button></div><div id="mceu_23" class="mce-widget mce-btn mce-last" tabindex="-1" role="button" aria-label="Insert image"><button id="mceu_23-button" role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-image"></i></button></div></div></div></div></div></div></div></div></div><div id="mceu_29" class="mce-edit-area mce-container mce-panel mce-stack-layout-item" hidefocus="1" tabindex="-1" role="group" style="border-width: 1px 0px 0px;"><iframe id="bbp_topic_content_ifr" frameborder="0" allowtransparency="true" title="Rich Text Area. Press Alt-Shift-H for help." style="width: 100%; height: 215px; display: block;"></iframe></div><div id="mceu_30" class="mce-statusbar mce-container mce-panel mce-stack-layout-item mce-last" hidefocus="1" tabindex="-1" role="group" style="border-width: 1px 0px 0px;"><div id="mceu_30-body" class="mce-container-body mce-flow-layout"><div id="mceu_31" class="mce-path mce-flow-layout-item mce-first"><div class="mce-path-item">&nbsp;</div></div><div id="mceu_32" class="mce-flow-layout-item mce-last mce-resizehandle"><i class="mce-ico mce-i-resize"></i></div></div></div></div></div><textarea class="wp-editor-area" rows="10" autocomplete="off" cols="40" name="bbp_topic_content" id="bbp_topic_content" aria-hidden="true" style="overflow: hidden scroll; overflow-wrap: break-word; height: 215px; display: none;"></textarea></div>
</div>

	<script>
	(function($){ 
		var ta = $('#bbp_topic_content:not(.wp-editor-area)');
		var ed = $('#wp-bbp_topic_content-wrap').addClass('bpfed-editor');
		ed.parents('form:eq(0)').addClass('bpfed-editor-form');
		if( ta.length ) ta.after(ed).remove(); 
	})(jQuery);
	</script>
	
					
					
						<p class="form-allowed-tags">
							<label>You may use these <abbr title="HyperText Markup Language">HTML</abbr> tags and attributes :</label>
							<code>&lt;a href="" title="" rel="" target=""&gt; &lt;blockquote cite=""&gt; &lt;code&gt; &lt;pre class=""&gt; &lt;em&gt; &lt;strong&gt; &lt;del datetime="" cite=""&gt; &lt;ins datetime="" cite=""&gt; &lt;ul&gt; &lt;ol start=""&gt; &lt;li&gt; &lt;img src="" border="" alt="" height="" width=""&gt; </code>
						</p>

					
					
						
						<div class="youzify-bbp-form-item youzify-bbp-form-item-text">
							<label for="bbp_topic_tags">Topic Tags :</label>
							<input type="text" value="" tabindex="102" size="40" name="bbp_topic_tags" id="bbp_topic_tags">
						</div>

						
					
					
					
					
						
						<div class="youzify-bbp-form-item youzify-bbp-form-item-checkbox">
							<input name="bbp_topic_subscription" id="bbp_topic_subscription" type="checkbox" value="bbp_subscribe" tabindex="103">

							
								<label for="bbp_topic_subscription">Notify me of follow-up replies via email</label>

													</div>

						
					
					
					
					<div class="bbp-submit-wrapper">

						
						<button type="submit" tabindex="104" id="bbp_topic_submit" name="bbp_topic_submit" class="button submit"><i class="fas fa-paper-plane"></i>Submit</button>

						
					</div>

					
				</div>

				
			<input type="hidden" name="bbp_forum_id" id="bbp_forum_id" value="821">

		
		<input type="hidden" name="action" id="bbp_post_action" value="bbp-new-topic">

		
		<input type="hidden" id="_wpnonce" name="_wpnonce" value="31a3ebb4ad"><input type="hidden" name="_wp_http_referer" value="/demo/onecommunity-youzer/forums/forum/announcements/">
				</div>

			</div>

			
		</form>
	</div>
<div class="container" style="max-width: 600px">

                <form name="annonce" method="post" enctype="multipart/form-data">

        <div id="annonce"><div class="form-group"><label for="annonce_description" class="required">Description</label><input type="text" id="annonce_description" name="annonce[description]" required="required" class="tweet-area form-control"></div><div class="form-group"><label for="annonce_image">Image De Annonce (.png file)</label><div class="custom-file"><input type="file" id="annonce_image" name="annonce[image]" class="file-upload-default custom-file-input"><label for="annonce_image" class="custom-file-label"></label>
    </div>
</div><div class="form-group"><label for="annonce_prix" class="required">Prix</label><input type="text" id="annonce_prix" name="annonce[prix]" required="required" class="prix-input form-control"></div><div class="form-group"><label for="annonce_tel" class="required">Tel</label><input type="text" id="annonce_tel" name="annonce[tel]" required="required" class="tel-input form-control"></div><div class="form-group"><label for="annonce_location" class="required">Location</label><input type="text" id="annonce_location" name="annonce[location]" required="required" class="location-input form-control"></div><div class="form-group"><button type="submit" id="annonce_Post" name="annonce[Post]" class="btn-primary btn">Post</button></div><input type="hidden" id="annonce__token" name="annonce[_token]" value="THMQZ8AeSGjiTqLaO0LR2gNYmUW9jUKSZd7bEXTZYvw"></div>

        </form>
    </div>
{% endblock %}
